*.*~
*.log
*.aux
*.pdf
*.iml
docs/**/*.*
!docs/**/*.tex
!docs/figures/*.p*
!docs/logos/*.pdf
!docs/*.yaml
**/arara.yaml
**/arara.log
**/arara.xml
.DS_Store
.gradle
.idea
**/build/*
!buildSrc/src/**/build/*
target
