# For Java
*.class

## For packages
*.war
*.ear

## For LaTeX
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.bcf
*.listing
*.run.xml
*.synctex*
docs/arara-manual.pdf

## Temporary stuff
*.*~
.DS_Store
/application/target/
/tools/langchecker/target/
/tools/rulechecker/target/
/tools/ruleconverter/target/
/tools/ctanbuilder/target/
