{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "_variables.html" %}
    <link rel="icon" href="favicon.svg">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="{{ get_url(path="juice.css") }}">
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" href="/juicy-arara.css">
    {% block head %}
    <meta name="keywords" content="tex, latex, context, build tool, automation">
    <meta itemprop="name" content="{{ config.extra.meta_title }}">
    <meta itemprop="description" content="{{ config.extra.meta_description }}">
    {% endblock head %}
  </head>

  <body>
    {% block header %}
    <header class="pos-absolute" style="background-color: transparent">
      {{ macros::render_header() }}
    </header>

    <div class="hero">
      {% block hero %}
      <section style="padding:10px">
	<h1 class="text-center heading-text" style="font-size:50px;">
          {{ config.extra.meta_title }}
	</h1>
	<h3 class="title-text text-center">
          {{ config.extra.meta_description }}
	</h3>
	<div style="height: 50px;"></div>
	<div class="text-center">
	  <a href="https://gitlab.com/islandoftex/arara/-/releases">
	    <img src="https://img.shields.io/badge/dynamic/json.svg?color=blue&label=Latest%20release&query=%24.0.name&url=https%3A%2F%2Fgitlab.com%2Fapi%2Fv4%2Fprojects%2F14349047%2Frepository%2Ftags&style=for-the-badge&logo=GitLab">
	  </a>
	  &nbsp;
	  <a href="https://ctan.org/pkg/arara">
	    <img src="https://img.shields.io/ctan/v/arara?label=CTAN%20packaging&style=for-the-badge">
	  </a>
	</div>
	<div class="text-center" style="padding-top: 10px;">
	  <a href="https://gitter.im/Island-of-TeX/arara">
	    <img src="https://img.shields.io/gitter/room/Island-of-TeX/community?label=arara%20chat&style=for-the-badge&logo=Gitter">
	  </a>
	  &nbsp;
	  <a href="https://matrix.to/#/!HfEWIEvFtDplCLSQvz:matrix.org?via=matrix.org">
	    <img src="https://img.shields.io/matrix/arara:matrix.org?label=%23arara%3Amatrix.org&style=for-the-badge&logo=Matrix">
	  </a>
	</div>
      </section>
      <img class="demonstration-gif img-demonstration" src="{{ get_url(path="/images/demonstration.gif") }}" alt="demonstration-gif">

      <div class="explore-more text"
	   onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
	Explore More ⇩
      </div>
      <style>
        .hero section {
            padding: 0 5rem;
        }
        @media screen and (max-width: 768px) {
            .hero section {
                padding: 0 2rem;
            }
            .hero-image {
                display: none
            }
        }
      </style>
      {% endblock hero %}
    </div>
    {% endblock header %}

    <main>
      {% block toc %}
      {% if section.toc %}
      {% set toc = section.toc %}
      {% elif page.toc %}
      {% set toc = page.toc %}
      {% endif %}
      {% if toc %}
      <div class="toc">
        <div class="toc-sticky">
          {% for h in toc %}
          <div class="toc-item">
            <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
          </div>
          {% if h.children %}
          {% for h2 in h.children %}
          <div class="toc-item-child">
            <a class="subtext" href="{{h2.permalink | safe}}"><small>- {{ h2.title }}</small></a>
          </div>
          {% endfor %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% endblock toc %}

      <div class="content text">
        {% block content %}
        <div id="features" class="heading-text">Overview</div>
        {{ section.content | safe }}
        {% endblock content %}
      </div>

    </main>

    {% block footer %}
    <footer>
      <small class="subtext">
	{{ config.extra.footer }}
      </small>
    </footer>
    {% endblock footer %}
  </body>
  <script>
    function highlightNav(heading) {
        let pathname = location.pathname;
        document.querySelectorAll(".toc a").forEach((item) => {
            item.classList.remove("active");
        });
        document.querySelector(".toc a[href$='" + pathname + "#" + heading + "']").classList.add("active");
    }

    let currentHeading = "";
    window.onscroll = function () {
        let h = document.querySelectorAll("h1,h2,h3,h4,h5,h6");
        let elementArr = [];

        h.forEach(item => {
            if (item.id !== "") {
                elementArr[item.id] = item.getBoundingClientRect().top;
            }
        });
        elementArr.sort();
        for (let key in elementArr) {
            if (!elementArr.hasOwnProperty(key)) {
                continue;
            }
            if (elementArr[key] > 0 && elementArr[key] < 300) {
                if (currentHeading !== key) {
                    highlightNav(key);
                    currentHeading = key;
                }
                break;
            }
        }
    }
  </script>
</html>
