.logo img {
  height: 50px;
  width: auto !important;
  margin: 15px 15px;
}

.demonstration-gif {
  padding: 10px;
  max-height: 70%;
  max-width: 70%;
}

.content code {
  background-color: transparent;
}

.heading-text {
  padding-top: 100px;
}

.upright {
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .explore-more, .demonstration-gif {
    display: none;
  }
}

.tex sub, .latex sub, .latex sup {
    text-transform: uppercase;
}

.tex sub, .latex sub {
    vertical-align: -0.06ex;
    margin-left: -0.1667em;
    margin-right: -0.1em;
}

.tex, .latex, .tex sub, .latex sub {
    font-size: 1em;
}

.latex sup {
    font-size: 0.85em;
    vertical-align: -0.3em;
    margin-left: -0.32em;
    margin-right: -0.15em;
}
