<launch4jConfig>
  <dontWrapJar>true</dontWrapJar>
  <headerType>console</headerType>
  <jar>arara.jar</jar>
  <outfile>wrappers\application\arara.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir></chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <customProcName>false</customProcName>
  <stayAlive>false</stayAlive>
  <manifest></manifest>
  <icon>wrappers\resources\araraicon.ico</icon>
  <jre>
    <path></path>
    <minVersion>1.5.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
  </jre>
  <versionInfo>
    <fileVersion>3.0.0.0</fileVersion>
    <txtFileVersion>3.0</txtFileVersion>
    <fileDescription>arara, the cool TeX automation tool</fileDescription>
    <copyright>2012, Paulo Roberto Massa Cereda</copyright>
    <productVersion>3.0.0.0</productVersion>
    <txtProductVersion>3.0</txtProductVersion>
    <productName>arara</productName>
    <companyName></companyName>
    <internalName>arara</internalName>
    <originalFilename>arara.exe</originalFilename>
  </versionInfo>
</launch4jConfig>
