name: Run Gradle on repo activity
on: [push, pull_request]
jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Configure checkout (line endings)
      run: git config --global core.autocrlf false && git config --global core.eol lf
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: 11
        distribution: temurin
    - uses: gradle/actions/wrapper-validation@v4
    - uses: gradle/actions/setup-gradle@v4
      with:
        gradle-version: current
    - name: Build
      run: ./gradlew build
    - name: Build jar
      run: ./gradlew :cli:shadowJar
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: arara-${{ matrix.os }}
        path: cli/build/libs/*-with-deps-*.jar
