name: Run Gradle on repo activity
on: [push, pull_request]
jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Configure checkout (line endings)
      run: git config --global core.autocrlf false && git config --global core.eol lf
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: 8
    - uses: eskatos/gradle-command-action@v1
      with:
        gradle-version: current
        arguments: build
    - uses: eskatos/gradle-command-action@v1
      with:
        gradle-version: current
        arguments: :cli:shadowJar
    - name: Upload build artifacts
      uses: actions/upload-artifact@v2-preview
      with:
        name: arara-${{ matrix.os }}
        path: cli/build/libs/*-with-deps-*.jar
